/*
* Legion Market v
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
#page-banner-area{
  background: url(/static/images/misc/tlm-c69-1920x1200.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}