/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/

/*You can add your won color also */
/* ScrollToTop */
.body { background-color: #6E005D; }
.colorMain { color: #6E005D; }
.bgColor0 { background-color: #6E005D; }
.bgColor1 { background-color: #5D6E00; }
.bgColor2 { background-color: #3D4800; }
.bgColor3 { background-color: #819416; }
.bgColor4 { background-color: #005D6E; }
.bgColor5 { background-color: #003D48; }
.bgColor6 { background-color: #168194; }
.fontColor0 { color: #6E005D; }
.fontColor1 { color: #5D6E00; }
.fontColor2 { color: #3D4800; }
.fontColor3 { color: #819416; }
.fontColor4 { color: #005D6E; }
.fontColor5 { color: #003D48; }
.fontColor6 { color: #168194; }


$theme-colors: (
);

/*! `Custom` Bootstrap 4 theme */

$enable-grid-classes:false;
$default:       #6E005D !default;
$primary: #6E005D, !default;
$secondary: #5D6E00, !default;
$success: #3D4800, !default;
$info: #819416, !default;
$warning: #005D6E, !default;
$danger: #003D48, !default;
$light: #168194, !default;
$dark: #343434, !default;
$enable-gradients:true;
$spacer:0.7rem;
$border-width:0;
$btn-border-radius:1.35rem;

$primaryColor: #6e005d;
$primaryLightColor: #9f3c8a;
$primaryDarkColor: #3f0033;
$secondaryColor: #5d6e00;
$secondaryLightColor: #8d9c38;
$secondaryDarkColor: #314300;
$primaryTextColor: #fff;
$secondaryTextColor: #fff;

$preset: $primary;

$gx-lv1: #000;
$gx-lv2: #3c4;
$gx-lv3: #fff;
