/*
* Legion Market v
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
$transition: all 0.3s ease-in-out;



.page-footer {
  background: $primaryDarkColor;
  .footer-title {
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  p {
    color: #d5d5d5 !important;
    line-height: 24px;
    margin: 0;
  }
  .icon-list {
    list-style: none;
    padding: 0;
    li {
      color: #d5d5d5;
      a {
        color: #d5d5d5;
        &:hover {
          color: #5166d8;
        }
      }
      i {
        padding-right: 5px;
        vertical-align: -1px;
      }
    }
  }

  .newsletter-wrapper {
    .form-group {
      margin-bottom: 20px;
      input {
        width: 30vh !important;
        display: inline-block;
        color: #fff;
        padding: 12px 0;
      }
    }
  }
  .widget {
    margin-top: 10px;
    .widget-title {
      margin-bottom: 20px;
      font-size: 18px;
      color: #fff;
    }
    .unordered-list {
      list-style: none;
      padding: 0;
      li {
        a {
          color: #d5d5d5;
          &:hover {
            color: $info;
          }
        }
      }
    }
  }
  .image-list {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 15px;
      .overlay {
        float: left;
        width: 70px;
        height: 60px;
        position: relative;
        overflow: hidden;
        text-align: center;
        figcaption {
          position: absolute;
          background: rgba(0,0,0,0.6);
          top: 0;
          left: 0;
          margin: 0;
          width: 100%;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          i {
            color: #fff;
            font-size: 18px;
          }
        }
        .from-top {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          -webkit-transform: translateY(-80%);
          -ms-transform: translateY(-80%);
          transform: translateY(-80%);
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          figcaption {
            opacity: 1;
            transition: all 0.3s ease-in-out;
            .from-top {
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
    .post-content{
      margin-left: 85px;
      margin-bottom: 0;
      .post-title{
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 15px;
        margin: 0;
        a{
          color: #fff;
          &:hover{
            color: $info;
          }
        }
      }
      .meta{
        color: #999;
        span{
          text-transform: uppercase;
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.footer-contact-widget{
  p {
    color: #fff;
    line-height: 24px;
    padding: 5px 0;
    span {
      font-weight: 700;
    }
  }
  ul {
    margin: 20px 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      a {
        .mdi{
          color: $primary;
          width: 40px;
          height: 40px;
          margin-right: 8px;
          display: block;
          background: #FFF;
          text-align: center;
          line-height: 40px;
          border-radius: 2px;
          transtion: $transition;
          &:hover {
            transition: $transition;
          }
        }
      }
    }
  }
}
.footer-copyright{
  line-height: 2vh;
  background: black;
  color: #F3F3F3;
  p{
    margin: 10px 0;
  }
  .footer-links {
    /*
    ul {
      padding-left: 0;
      float: right;
      margin: 10px 0;
      li {
        list-style: none;
        float: left;
        a {
          color: #999;
          margin-right: 15px;
          transition: $transition;
          .fa {
            padding-right: 4px;
          }
          &:hover {
            color: $secondaryColor;
            opacity: 0.7;
            transition: $transition;
          }
        }
      }
    }
    */
    ul{
      li{
        a{
          color: #fff;
          font-size: 13px;
          font-weight: 400;
          &:hover{
            color: $primaryLightColor;
          }
        }
      }
    }
  }
}
.image-list{
  padding: 0;
  margin: 0;
  li{
    margin-bottom: 15px;
    display: inline-block;
    .overlay{
      float: left;
      width: 70px;
      height: 60px;
      position: relative;
      overflow: hidden;
      text-align: center;
      margin: 0;
    }
    .overlay:hover figcaption{
      opacity: 1;
      transition: $transition;
    }
  }
  .post-content{
    margin-left: 85px;
    margin-bottom: 0;
    .post-title{
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 15px;
      margin: 0;
      a{
        color: #fff;
        &:hover{
          color: $preset;
        }
      }
    }
    .meta{
      color: #999;
      span{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }
  }
}
