/*
* Legion Market v
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/


body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #707070;
  line-height: 26px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}
h1 {
  font-family: 'Rubik', sans-serif;
  color: #404040;
}
h2 {
  font-family: 'Rubik', sans-serif;
  color: #404040;
}
h3 {
  font-family: 'Rubik', sans-serif;
  color: #404040;
}
h4 {
  font-family: 'Rubik', sans-serif;
  color: #404040;
}
h5 {
  font-family: 'Rubik', sans-serif;
  color: #404040;
}
h6 {
  font-family: 'Rubik', sans-serif;
  color: #404040;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  &:hover {
    text-decoration: none;
  }
  a {
    &:focus {
      outline: none;
    }
  }
}
.hero-heading {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 1px;
}
.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
}
.rev-heading {
  text-transform: uppercase !important;
  font-size: 60px !important;
}
.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}
.small-title {
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: left;
  font-size: 20px;
}
.Material-section-quote {
  blockquote {
    border-left-width: 2px;
  }
}
.sub-quote {
  p {
    padding-left: 20px;
  }
}
.section-title {
  color: #404040;
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-align: left;
  position: relative;
  margin-bottom: 45px;
  text-transform: capitalize;
  &:before {
    position: absolute;
    content: '';
    bottom: -7px;
    width: 40px;
    height: 2px;
    background-color: #2196F3;
  }
}
.subtitle {
  font-size: 20px;
  letter-spacing: 0.3px;
  margin-top: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.inner-title {
  font-size: 24px;
  font-weight: 900;
  text-tranform: capitalize;
}
.page-tagline {
  font-size: 24px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.7);
}
.page-title {
  font-size: 62px;
  font-weight: 900;
  color: #fff;
}
.contact-title {
  font-weight: 900;
  font-size: 38px;
  color: #333;
}
.btn-common {
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff !important;
  border-radius: 2px;
  box-shadow: 0 2px 2.7px 0.1px rgba(0,0,0,0.24) !important;
  &:hover {
    box-shadow: 0 4px 4.7px 0.3px rgba(0,0,0,0.24) !important;
  }
  &:focus {
    box-shadow: 0 4px 4.7px 0.3px rgba(0,0,0,0.24) !important;
  }
  &:active {
    box-shadow: 0 4px 4.7px 0.3px rgba(0,0,0,0.24) !important;
  }
}
.btn-border {
  font-weight: 500;
  padding: 9px 20px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 2.7px 0.1px rgba(0,0,0,0.24) !important;
  &:hover {
    background-color: #eee !important;
  }
  &:focus {
    background-color: #eee !important;
  }
  &:active {
    background-color: #eee !important;
  }
}
.btn-round {
  color: #fff !important;
}
.material-icons {
  font-size: 24px;
  line-height: 1;
}
.btn.btn-fab {
  border-radius: 50%;
  font-size: 24px;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
  padding: 0;
}
.input-group-btn {
  .btn.btn-fab {
    border-radius: 50%;
    font-size: 24px;
    height: 40px;
    margin-right: 10px;
    min-width: 40px;
    width: 40px;
    padding: 0;
  }
}
.section-dark {
  background-color: #f9f9f9;
  z-index: -2;
}
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
  i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
.owl-carousel {
  .item {
    margin: 3px;
  }
  .owl-controls {
    .owl-page {
      display: inline-block;
      span {
        background: none repeat scroll 0 0 rgba(255,255,255,0.3);
        border-radius: 50px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
      }
    }
  }
}
.owl-carousel.item {
  img {
    display: block;
    width: 50%;
    height: auto;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}
.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
#loader-1 {
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #5166d8;
    z-index: 100;
    animation: spin 1s infinite;
  }
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #5166d8;
    border: 7px solid #f2f2f2;
  }
}
.section-padding {
  padding: 45px 0;
}
.no-padding {
  padding: 0 !important;
}
.padding-left-none {
  padding-left: 0;
}
.padding-right-none {
  padding-right: 0;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.navbar-brand {
  position: relative;
  .ripple-container {
    display: none;
  }
  img {
    width: 120px;
  }
}
.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  .nav-link {
    color: #333 !important;
    margin-top: 0;
    &:hover {
      color: rgba(0,0,0,0.6);
    }
  }
  .navbar-brand {
    top: 0px;
  }
}
.nav-bg {
  background: #fff;
  .navbar-nav {
    .nav-link {
      color: #333 !important;
    }
  }
}
.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      padding: 15px 0 18px 0;
      font-size: 14px;
      color: #fff;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      text-transform: capitalize;
      margin-left: 30px;
      margin-top: 0px;
      border-top: 3px solid transparent;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      &:hover {
        color: #2196F3;
      }
      .ripple-container {
        display: none;
      }
    }
  }
}
.navbar {
  padding: 0;
  li.active {
    a.nav-link {
      color: #2196F3;
    }
  }
}
.dropdown-toggle {
  &::after {
    display: none;
  }
}
.dropdown-menu {
  list-style: none;
  margin: 0px 30px;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 195px;
  white-space: nowrap;
  border-radius: 2px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  animation: 0.4s ease 0s normal none 1 running fadeInUpMenu;
}
.dropdown {
  &:hover {
    .dropdown-menu {
      display: block;
      position: absolute;
      top: 100%;
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out;
      animation: 0.4s ease 0s normal none 1 running fadeInUpMenu;
    }
  }
  .dropdown-menu {
    .dropdown-item {
      width: 100%;
      padding: 10px 20px;
      font-size: 13px;
      color: #202020;
      text-decoration: none;
      display: inline-block;
      float: left;
      clear: both;
      position: relative;
      outline: 0;
      border-top: 1px solid rgba(0,0,0,0.03);
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out;
    }
  }
  .dropdown-item {
    &:focus {
      background-color: #fafafa;
    }
    &:hover {
      background-color: #fafafa;
    }
  }
}
.dropdown-item.active {
  background: transparent;
}
.dropdown-item {
  &:active {
    background: transparent;
  }
}
.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}
.search-side {
  position: relative;
  float: right;
  top: 0px;
  right: -20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.search-icon {
  span {
    position: relative;
    display: block;
    cursor: pointer;
    margin-left: 20px;
    i {
      font-size: 22px !important;
      display: block;
      border-radius: 2px;
      padding: 2px 8px;
      text-align: center;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
  }
  &:hover {
    i {
      color: #666;
    }
  }
}
.navbar-form {
  background: #fff;
  z-index: 9001;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border: 0;
  width: 100%;
  position: absolute;
  top: 0px;
  display: none;
  left: 0px;
  height: 60px;
  .form-group {
    height: 100%;
    width: 100%;
    margin: 10px 22px;
  }
  .form-control {
    color: #333;
    border-radius: 0;
    outline: none;
    font-size: 22px;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 400;
    line-height: 30px;
  }
  .has-feedback {
    .close {
      height: 30px;
      position: absolute;
      cursor: pointer;
      top: 50%;
      right: 0;
      margin-top: -15px;
      line-height: 15px;
      color: #333;
      font-size: 22px;
    }
  }
}
.navbar-toggler {
  display: none;
}
.wpb-mobile-menu {
  display: none;
}
.slicknav_menu {
  display: none;
}
#main-slide {
  .carousel-control {
    display: none;
    transition: all 0.3s ease-in-out;
    top: 45%;
    .fa-angle-left {
      position: absolute;
      z-index: 5;
      display: inline-block;
      left: 10px;
    }
    .fa-angle-right {
      position: absolute;
      z-index: 5;
      display: inline-block;
      right: 10px;
    }
    i {
      line-height: 40px;
      font-size: 38px;
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 2px;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      &:hover {
        color: #fff;
        opacity: 0.6;
      }
    }
  }
  .carousel-indicators {
    cursor: pointer;
    li {
      width: 30px;
      height: 5px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  &:hover {
    .carousel-control {
      display: block;
      transition: all 0.3s ease-in-out;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
    }
  }
  .carousel-item {
    img {
      position: relative;
      width: 100%;
      max-height: 670px;
    }
    .carousel-caption {
      opacity: 0;
      transition: opacity 100ms ease 0s;
      z-index: 0;
      .hero-sub-heading {
        color: #fff;
      }
    }
  }
  .carousel-inner {
    .carousel-item {
      &::after {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .carousel-item.active {
    .carousel-caption {
      opacity: 1;
      transition: opacity 100ms ease 0s;
      z-index: 1;
    }
  }
  .carousel-caption {
    color: #fff;
    position: absolute;
    top: 35%;
  }
  .carousel-control-next {
    opacity: 1;
    box-shadow: none;
    span {
      padding: 15px;
    }
  }
  .carousel-control-prev {
    opacity: 1;
    box-shadow: none;
    span {
      padding: 15px;
    }
  }
}
.slider-2 {
  .hero-heading {
    text-transform: capitalize;
  }
}
.carousel {
  .carousel-item.active {
    .animated2 {
      animation: 1s ease-in 200ms normal both 1 running lightSpeedIn;
    }
    .animated3 {
      animation: 1s ease-in-out 500ms normal both 1 running bounceInLeft;
    }
    .animated4 {
      animation: 1s ease-in 500ms normal both 1 running flipInX;
    }
    .animated5 {
      animation: 1s ease-in-out 100ms normal both 1 running bounceInLeft;
    }
    .animated6 {
      animation: 1s ease-in 500ms normal both 1 running bounceIn;
    }
    .animated7 {
      animation: 1s ease-in 500ms normal both 1 running bounceIn;
    }
    .animated8 {
      animation: 1s ease-in 800ms normal both 1 running bounceInDown;
    }
  }
}
.carousel-fade {
  .carousel-inner {
    .carousel-item {
      max-height: 700px;
      opacity: 0.8;
      transition-property: opacity;
      &::after {
        background: rgba(0,0,0,0.7) none repeat scroll 0 0;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .active {
      opacity: 1;
    }
    .active.left {
      left: 0;
      opacity: 0;
      z-index: 1;
    }
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }
    .next.left {
      opacity: 1;
    }
    .prev.right {
      opacity: 1;
    }
  }
  .carousel-control {
    z-index: 20;
  }
}
.slider-title {
  font-size: 70px;
  font-weight: 900;
}
.about-single {
  text-align: center;
  padding: 0 15px;
  i {
    border-radius: 50%;
    font-size: 50px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    background: trasparent;
    transition: all 0.2s ease-in-out 0s;
  }
  &:hover {
    cursor: pointer;
    i {
      font-size: 25px;
      color: #fff;
      transition: all 0.2s ease-in-out 0s;
      box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
      cursor: pointer;
    }
  }
}
.video-gallery {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  .overlay-gallery {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
  }
  .icon-holder {
    display: table;
    width: 100%;
    height: 100%;
    .icon {
      display: table-cell;
      vertical-align: middle;
      i {
        font-size: 80px;
        color: #fff;
        transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
      }
    }
  }
  &:hover {
    .icon {
      i {
        color: #fff;
      }
    }
  }
}
.welcome-section {
  h1 {
    line-height: 45px;
    font-size: 30px;
    font-weight: 700;
  }
}
.single-service-widget {
  margin: 25px 0;
  i {
    font-size: 50px;
    padding-right: 15px;
    line-height: 45px;
  }
  p {
    color: #999;
  }
  h2 {
    margin-top: 0;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    .pulse-shrink {
      -webkit-animation-name: pulse-shrink;
      animation-name: pulse-shrink;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }
}
.features-block {
  .media-left {
    i {
      color: #fff;
      line-height: 80px;
      width: 80px;
      height: 80px;
      display: inline-block;
      background: #5065d8;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
      padding: 0;
      font-size: 40px;
    }
  }
  .media-body {
    margin-left: 15px;
  }
}
.pulse-shrink {
  display: inline-block;
}
#Material-portfolio {
  .mix {
    padding-bottom: 30px;
    display: none;
    margin: -2px;
  }
}
.portfolio-nav {
  ul.nav {
    float: right;
    li {
      a {
        font-size: 15px;
        color: #333;
        background-color: #eee;
        padding: 7px 12px;
        margin: 4px;
        display: block;
        border-radius: 2px;
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
          background: #2196F3;
          color: #FFF;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        }
      }
      a.active {
        background: #2196F3;
        color: #FFF;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      }
    }
  }
}
figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  img {
    width: 100%;
  }
  figcaption {
    background: #fff;
    bottom: 0px;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    margin-bottom: -15px;
    opacity: 0;
    transition: height 0.5s ease 0s;
    h2 {
      text-transform: capitalize;
      transition: all 0.5s ease 0s;
    }
    a.btn {
      float: right;
      position: absolute;
      right: 0px;
      top: 25px;
      width: 20px !important;
      transition: all 0.5s ease 0s;
    }
  }
  &:hover {
    figcaption {
      transition: all 0.5s ease 0s;
      cursor: pointer;
      opacity: 1;
      margin-bottom: 0px;
    }
  }
}
#conatiner-map {
  width: 100%;
  height: 480px;
}
.contact-widget-section {
  .single-contact-widget {
    background: #f9f9f9;
    padding: 20px 25px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.26);
    height: 260px;
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
    i {
      font-size: 75px;
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 10px;
    }
    p {
      line-height: 16px;
    }
    &:hover {
      background: #fff;
      box-shadow: 0 1px 4px rgba(0,0,0,0.46);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}
#contactForm {
  margin-top: -10px;
  .form-group {
    label.control-label {
      color: #8c8c8c;
    }
  }
  .form-control {
    font-weight: 500;
    height: auto;
  }
}
.google-map-container {
  box-shadow: 0 1px 4px rgba(0,0,0,0.26);
  #google-map-contact {
    height: 300px;
  }
}
.contact-widget-section2 {
  h2 {
    margin-bottom: 30px;
  }
  .find-widget {
    padding: 10px 0;
    a {
      color: #333;
      font-size: 14px;
    }
    i {
      width: 40px;
      height: 40px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      margin-right: 15px;
      border-radius: 2px;
      display: inline-block;
      box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    }
  }
}
.Material-contact-section {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      color: #777;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 28px;
      min-height: 35px;
      width: 100%;
      i {
        width: 35px;
        background: #f50057;
        height: 35px;
        border: 1px solid #f50057;
        border-radius: 2px;
        line-height: 30px;
        float: left;
        color: #fff;
        text-align: center;
        font-size: 18px;
        top: 4px;
        margin-right: 10px;
      }
    }
  }
}
.Material-our-team-section {
  padding-bottom: 200px;
}
.single-team-widget {
  background: #f5f5f5;
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,0.26);
  margin-bottom: 20px;
  img {
    text-align: center;
  }
  &:hover {
    -webkit-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    -moz-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    cursor: pointer;
    .know-more {
      display: block;
      animation: 0.4s ease 0s normal none 1 running fadeInUpMenu;
    }
  }
  p {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .team-member-info {
    height: 130px;
    background: #fff;
    padding: 5px 20px;
    .know-more {
      position: absolute;
      right: 10%;
      bottom: 12%;
      display: none;
    }
    .social-profiles {
      .mdi {
        color: #8c8c8c;
        font-size: 18px;
        padding-right: 5px;
        transition: all 0.3s ease-in-out;
      }
      .mdi.mdi-twitter {
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #1DA1F2;
        }
      }
      .mdi.mdi-facebook {
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #3B5998;
        }
      }
      .mdi.mdi-dribbble {
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #EA4C89;
        }
      }
      .mdi.mdi-linkedin {
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #1769FF;
        }
      }
    }
  }
}
.team-single {
  .team-thumb {
    text-align: center;
    img {
      border: 4px solid #fff;
      box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    }
  }
  .team-text {
    h3 {
      font-size: 30px;
      color: #404040;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    h5 {
      color: #999;
      margin-bottom: 30px;
    }
  }
  .social-single {
    margin-top: 30px;
    a {
      i {
        width: 48px;
        font-size: 24px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        display: inline-block;
        background: #5065d8;
        border-radius: 3px;
        margin-right: 10px;
        color: #fff;
      }
    }
    .mdi.mdi-twitter {
      &:hover {
        transition: all 0.3s ease-in-out;
        background: #1DA1F2;
      }
    }
    .mdi.mdi-facebook {
      &:hover {
        transition: all 0.3s ease-in-out;
        background: #3B5998;
      }
    }
    .mdi.mdi-dribbble {
      &:hover {
        transition: all 0.3s ease-in-out;
        background: #EA4C89;
      }
    }
    .mdi.mdi-linkedin {
      &:hover {
        transition: all 0.3s ease-in-out;
        background: #1769FF;
      }
    }
  }
}
.single-about {
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    color: #999;
  }
}
#team-slide {
  .owl-carousel {
    .owl-controls {
      .owl-page {
        span {
          background: #ddd;
        }
      }
      .owl-page.active {
        span {
          color: #5166d8 !important;
        }
      }
    }
  }
}
.testimonial {
  background: url(../images/testimonial/testimonial_bg.jpg);
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  .owl-pagination {
    text-align: center;
    width: 100%;
  }
}
.testimonial-item {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 15px;
  .img {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10px auto;
    img {
      border-radius: 50%;
      box-shadow: 0px 1px 8px #fff;
      border: 3px solid #fff;
    }
  }
  .datils {
    text-align: center;
    h5 {
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      margin: 15px 0px 6px;
    }
    span {
      color: rgba(255,255,255,0.5);
    }
    p {
      margin: 5px 0 20px 0;
      color: #fff;
    }
  }
  .owl-carousel {
    .owl-controls {
      .owl-page.active {
        span {
          border: none;
          background: #fff !important;
          opacity: 1;
        }
      }
      .owl-page {
        span {
          background: #fff !important;
        }
      }
    }
  }
}
.testimonial-carousel {
  .owl-pagination {
    margin-top: 70px;
    .owl-page {
      span {
        background: #fff;
        border: 3px solid #f9f9f9;
        width: 15px;
        height: 15px;
      }
    }
    .owl-page.active {
      span {
        background: #fff;
        border: none;
        box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
        width: 20px;
        height: 20px;
        opacity: 1;
      }
    }
  }
}
.client {
  border-bottom: 1px solid #e9e9e9;
  .client-logo {
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    img {
      transition: all 0.2s ease-in-out 0s;
    }
    &:hover {
      transition: all 0.2s ease-in-out 0s;
      img {
        cursor: pointer;
        transition: all 0.2s ease-in-out 0s;
      }
    }
  }
  .client-logo.active {
    transition: all 0.2s ease-in-out 0s;
    img {
      cursor: pointer;
      transition: all 0.2s ease-in-out 0s;
    }
  }
}
.single-blog-post {
  margin-bottom: 30px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.26);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    -moz-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    cursor: pointer;
  }
  .featured-image {
    img {
      width: 100%;
    }
  }
  .post-meta {
    padding: 10px 20px;
    .read-more-icon {
      bottom: 100px;
      right: 40px;
    }
    a {
      color: #333;
      &:hover {
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .meta-tags {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 19px 20px;
    .comments {
      i {
        font-size: 15px;
        margin-right: 5px;
      }
    }
    .btn-round {
      float: right;
      border-radius: 28px;
      font-size: 24px;
      height: 40px;
      margin: -7px auto;
      min-width: 40px;
      width: 40px;
    }
  }
}
.Material-blog-post-page {
  .blog-post-column {
    .single-blog-post {
      margin-bottom: 40px;
      .post-meta {
        .post-date {
          position: absolute;
          span {
            color: #333;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
          }
        }
        .read-more-icon {
          bottom: 166px;
          position: absolute;
          right: 40px;
        }
        h2 {
          font-size: 19px;
          line-height: 26px;
          margin-top: 35px;
        }
      }
    }
    .post-without-image {
      .featured-image {
        height: 50px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.26);
      }
      .pink-bg {
        background: #5e35b1;
      }
      .blue-bg {
        background: #1e88e5;
      }
      .aqua-bg {
        background: #00897b;
      }
    }
    .quote-post {
      h2 {
        font-style: italic;
      }
    }
  }
}
.blog-sidebar-column {
  .single-sidebar-widget {
    box-shadow: 0 1px 4px rgba(0,0,0,0.26);
    margin-bottom: 30px;
    background: #FAFAFA;
    .sidebar-widget-title {
      background: #5065d8;
      padding: 0 20px;
      h2 {
        color: #fff;
        font-size: 19px;
        margin: 0;
        font-weight: 700;
        line-height: 48px;
      }
    }
  }
  .author-widget {
    .author-bg {
      img {
        width: 100%;
      }
    }
    .author-info {
      padding: 10px 20px;
      background: #fafafa;
      .author-intro {
        position: absolute;
        float: right;
        right: 80px;
        top: 106px;
        h3 {
          color: #fff;
          font-weight: 700;
          font-size: 20px;
        }
      }
      .author-image {
        position: absolute;
        top: 92px;
        left: 50px;
      }
      .author-bio {
        margin-top: 47px;
      }
    }
  }
  .subscribe-widget {
    .social-profiles {
      padding: 30px 35px;
      background: #f5f5f5;
    }
    .subscribe-box {
      padding: 30px 35px;
      .form-group {
        margin-top: 10px;
      }
      button.btn-fab {
        width: 38px !important;
        height: 38px !important;
        min-width: 38px !important;
        font-size: 14px !important;
        position: absolute;
        right: 24px;
        bottom: 14px;
        z-index: 1111;
        border-radius: 2px;
      }
      .form-control {
        border-radius: 2px !important;
        color: #333;
        font-weight: 700;
        width: 240px;
      }
    }
  }
  .instagram-widget {
    .instagram-feed {
      ul {
        list-style: none;
        padding: 15px 15px;
        display: inline-block;
        margin: 0;
        li {
          float: left;
          a {
            img {
              width: 106px;
              height: 100px;
              padding: 5px;
              transition: all 0.2s ease-in-out;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
  .categories-list {
    margin: 0;
    padding: 20px;
    li {
      list-style: none;
      line-height: 36px;
      a {
        color: #707070;
        &:hover {
          color: #5166d8;
        }
      }
    }
  }
  .flickr-widget {
    .flickr-feed {
      padding: 20px;
      .owl-pagination {
        text-align: center;
        margin-top: 10px;
      }
      .owl-carousel {
        .owl-controls {
          .owl-page {
            span {
              background: none;
              border: 2px solid #434343;
            }
          }
          .owl-page.active {
            span {
              background: #434343 !important;
              border: none;
            }
          }
        }
      }
    }
  }
  .owl-carousel {
    .item {
      margin: 0;
    }
  }
}
.single-post {
  box-shadow: 0 1px 4px rgba(0,0,0,0.26);
  padding: 20px;
  h2 {
    font-weight: 500;
    font-size: 26px;
    margin: 30px 0;
  }
  p {
    font-size: 15px;
    line-height: 35px;
  }
  .single-post-meta {
    margin-top: 20px;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    .post-tag {
      float: left;
      a {
        font-weight: 500;
        font-size: 15px;
        color: #333;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .share-post {
      float: right;
      i {
        font-size: 20px;
        margin-right: 10px;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
.users-comment-section {
  .media {
    border-top: 1px solid #ddd;
    padding-top: 25px;
    margin-top: 20px;
    &:first-child {
      border-top: none;
    }
    .media-left {
      padding-right: 30px;
      img {
        box-shadow: 0 1px 4px rgba(0,0,0,0.26);
      }
    }
    .media-body {
      h3 {
        margin-top: 0;
        font-weight: 500;
        font-size: 20px;
      }
      p {
        font-size: 15px;
        line-height: 28px;
      }
      a.replay {
        float: right;
        font-size: 16px;
        font-weight: 500;
      }
      .media {
        padding-top: 24px;
        margin-top: 65px;
        border-top: 1px solid #ddd;
      }
    }
  }
}
.comment-box {
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.26);
}
.bg-color-dark {
  background: #272727;
}
.page-footer {
  background: #272727;
  .footer-title {
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
  }
  p {
    color: #d5d5d5 !important;
    line-height: 24px;
    margin: 0;
  }
  .icon-list {
    list-style: none;
    padding: 0;
    li {
      color: #d5d5d5;
      a {
        color: #d5d5d5;
        &:hover {
          color: #5166d8;
        }
      }
      i {
        padding-right: 5px;
        vertical-align: -1px;
      }
    }
  }
  .newsletter-wrapper {
    .form-group {
      margin-bottom: 20px;
      input {
        width: calc(100% - 90px) !important;
        display: inline-block;
        color: #fff;
        padding: 12px 0;
      }
    }
  }
  .widget {
    margin-top: 10px;
    .widget-title {
      margin-bottom: 20px;
      font-size: 18px;
      color: #fff;
    }
    .unordered-list {
      list-style: none;
      padding: 0;
      li {
        a {
          color: #d5d5d5;
          &:hover {
            color: #5166d8;
          }
        }
      }
    }
  }
  .image-list {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 15px;
      .overlay {
        float: left;
        width: 70px;
        height: 60px;
        position: relative;
        overflow: hidden;
        text-align: center;
        figcaption {
          position: absolute;
          background: rgba(0,0,0,0.6);
          top: 0;
          left: 0;
          margin: 0;
          width: 100%;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          i {
            color: #fff;
            font-size: 18px;
          }
        }
        .from-top {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          -webkit-transform: translateY(-80%);
          -ms-transform: translateY(-80%);
          transform: translateY(-80%);
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          figcaption {
            opacity: 1;
            transition: all 0.3s ease-in-out;
            .from-top {
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
    .post-content {
      margin-left: 85px;
      margin-bottom: 0;
      .post-title {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        a {
          color: #fff;
          &:hover {
            color: #5166d8;
          }
        }
      }
      .meta {
        color: #aaa;
        span {
          text-transform: uppercase;
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.footer-contact-widget {
  p {
    color: #fff;
    line-height: 24px;
    padding: 5px 0;
    span {
      font-weight: 700;
    }
  }
  ul {
    margin: 20px 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      a {
        .mdi {
          color: #fff;
          width: 40px;
          height: 40px;
          margin-right: 8px;
          display: block;
          background: #2A2A2F;
          text-align: center;
          line-height: 40px;
          border-radius: 2px;
          transtion: all 0.3s ease-in-out;
          &:hover {
            transition: all 0.3s ease-in-out;
          }
        }
        .mdi-facebook {
          transition: all 0.3s ease-in-out;
          background: #3B5998;
          &:hover {
            opacity: 0.9;
            transition: all 0.3s ease-in-out;
          }
        }
        .mdi-twitter {
          background: #1DA1F2;
          &:hover {
            opacity: 0.9;
            transition: all 0.3s ease-in-out;
          }
        }
        .mdi-dribbble {
          background: #EA4C89;
          &:hover {
            opacity: 0.9;
            transition: all 0.3s ease-in-out;
          }
        }
        .mdi-github-circle {
          background: #333;
          &:hover {
            opacity: 0.9;
            transition: all 0.3s ease-in-out;
          }
        }
        .mdi-linkedin {
          background: #0177B5;
          &:hover {
            opacity: 0.9;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
.footer-copyright {
  line-height: 45px;
  background: #232323;
  color: #999;
  p {
    margin: 22px 0;
  }
  .footer-links {
    ul {
      padding-left: 0;
      float: right;
      margin: 10px 0;
      li {
        list-style: none;
        float: left;
        a {
          color: #999;
          margin-right: 15px;
          transition: all 0.3s ease-in-out;
          .fa {
            padding-right: 4px;
          }
          &:hover {
            color: #fff;
            opacity: 0.7;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
.work-counter-widget {
  i {
    font-size: 50px;
    color: #2196F3;
  }
  .counter {
    z-index: 999999;
    .timer {
      color: #333;
      font-size: 38px;
      margin-top: 15px;
      font-weight: 700;
    }
    p {
      margin-top: 19px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.call-to-action-section {
  padding: 60px 0;
  background: url(../images/cta-bg.jpg) no-repeat scroll center center;
  background-size: cover;
  h1 {
    color: #18191b;
    font-size: 56px;
    font-weight: 700;
    color: #fff;
  }
  h3 {
    font-size: 24px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
  }
}
.page-title-section {
  position: relative;
  background: url(../images/page-title-bg.jpg) no-repeat scroll center center;
  background-size: cover;
  .title-center {
    padding-top: 65px;
  }
}
.Material-tab {
  ul.nav.nav-tabs {
    padding: 0px 25px;
    background: #fff;
    text-align: center;
    border-bottom: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.26);
    .nav-item {
      .nav-link {
        background-color: transparent;
        font-size: 14px;
        line-height: 20px;
        padding: 15px 30px 8px 30px;
        border-radius: 0;
        position: relative;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid transparent;
        display: inline-block;
        i {
          font-size: 38px;
        }
      }
    }
    li {
      .active {
        color: #fff;
      }
    }
  }
  .tab-content {
    padding: 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.26);
  }
  p {
    text-align: justify;
  }
}
.Material-tab-default {
  img {
    width: 100%;
  }
  ul.nav.nav-tabs {
    border-bottom: 0;
    li {
      a {
        color: #333;
        font-weight: 700;
        font-size: 18px;
        position: relative;
        border-top: none;
        border-left: none;
        border-right: none;
        border-right: 0;
        border-radius: 0;
        border-bottom: 3px solid transparent;
        padding: 10px 8px;
        margin-right: 29px;
        margin-top: 0;
        &:hover {
          color: #5166d8;
        }
      }
    }
  }
  .nav-tabs {
    .nav-item.show {
      .nav-link {
        color: #5166d8;
      }
    }
    .nav-link.active {
      color: #5166d8;
    }
  }
  .tab-content {
    margin-top: 25px;
    padding: 20px;
    background: #FAFAFA;
    box-shadow: 0 1px 4px rgba(0,0,0,0.26);
  }
}
.tabs-style-2 {
  .nav-vertical {
    background: #fafafa;
    margin: 25px 0;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.26);
  }
  .nav-pills {
    .nav-link {
      font-size: 18px;
      color: #333;
      position: relative;
      border-radius: 0px;
      border-bottom: 1px solid #efefef;
      padding: 15px 20px;
    }
    .nav-link.active {
      background: transparent;
      color: #5166d8;
    }
    .show {
      >.nav-link {
        background: transparent;
        color: #5166d8;
      }
    }
  }
}
.Material-default-accordion {
  .panel-default {
    border: 0;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    .panel-heading {
      padding: 0;
      margin-bottom: 15px;
      .panel-title {
        font-size: 18px;
        i {
          margin-right: 5px;
        }
      }
      .collapsed {
        &::after {
          content: "\f415";
        }
      }
      a {
        font-weight: 500;
        padding: 15px 20px;
        display: inline-block;
        width: 100%;
        color: #ffffff;
        position: relative;
        text-decoration: none;
        &:after {
          font-family: Material Design Icons;
          content: "\f374";
          position: absolute;
          right: 15px;
          font-size: 14px;
          font-weight: 300;
          top: 50%;
          line-height: 1;
          margin-top: -7px;
        }
      }
    }
    .panel-body {
      padding: 15px;
    }
  }
}
.Material-accordion-2 {
  .panel-default {
    border: 0;
    .panel-heading {
      padding: 0;
      .collapsed {
        &::after {
          content: "\f415";
        }
      }
      a {
        font-weight: 500;
        padding: 15px 20px;
        display: inline-block;
        width: 100%;
        color: #333;
        background: #EEEEEE !important;
        position: relative;
        text-decoration: none;
        &:after {
          font-family: Material Design Icons;
          content: "\f374";
          position: absolute;
          right: 15px;
          font-size: 14px;
          font-weight: 300;
          top: 50%;
          line-height: 1;
          margin-top: -7px;
        }
      }
    }
  }
}
.alert {
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.24);
}
.icon-round {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  line-height: 50px !important;
  border-radius: 50%;
  margin-right: 20px;
  color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
}
.icon-box {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px !important;
  border-radius: 2px;
  display: inline-block;
  margin-right: 20px;
  color: #fff;
}
.icon-common {
  font-size: 48px !important;
  margin-right: 22px;
}
.icon-table {
  .single-pricing-table {
    padding: 20px;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    -moz-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
    .pricing-table-heading {
      h2 {
        color: #3d6370;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.1rem;
        margin-top: 30px;
        position: relative;
        width: 100%;
        &:after {
          border: 1px dashed #eee;
          content: "";
          left: 0;
          position: absolute;
          top: 13px;
          width: 100%;
          z-index: -11111;
        }
      }
    }
    .price {
      margin-top: 20px;
      span {
        font-size: 36px;
        font-weight: 700;
      }
    }
    .pricing-item {
      padding: 20px 0;
      ul {
        padding-left: 0;
        li {
          list-style: none;
          p {
            strong {
              color: #325D6A;
            }
          }
        }
      }
    }
    .pricing-button {
      padding: 20px 0;
    }
  }
}
.pricing-table {
  border: 1px solid #e9e9e9;
  box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
  .pricing-header {
    background-color: #fff;
    h1 {
      margin-bottom: 0;
      margin-top: 0;
      color: #333;
      padding: 20px 0px;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  .pricing-sub {
    background-color: #f7f9fc;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    h1 {
      color: #333;
      text-align: center;
      margin: 0;
      padding: 25px 0px 15px 0px;
      font-size: 22px;
    }
  }
  .features {
    margin: 0;
    padding: 0;
    li {
      padding: 15px;
      list-style: none;
      text-align: center;
      background-color: #fff;
      border-bottom: 1px solid #e9e9e9;
      color: #a4a4a4;
      font-size: 13px;
    }
  }
  .pricing-footer {
    background-color: #f9fbfc;
    border-top: 0;
    padding: 30px 0px;
    text-align: center;
  }
}
.pricing-table-3 {
  .table-header {
    background: #5166d8;
    padding: 30px 0;
    color: #fff;
    h3 {
      font-size: 30px;
      color: #fff;
    }
  }
  .plan {
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
    .price {
      font-size: 60px;
    }
    .period {
      font-size: 18px;
      color: #a4a4a4;
      text-transform: uppercase;
    }
  }
  .plan-info {
    margin-top: 30px;
    p {
      color: #a4a4a4;
      font-size: 16px;
      line-height: 30px;
    }
  }
  .button-area {
    padding: 20px 0 20px 0;
  }
}
#Material-image-carousel {
  .owl-pagination {
    text-align: center;
    margin-top: 10px;
  }
  .owl-controls {
    position: absolute;
    top: 45%;
    display: inline-block;
    width: 100%;
    .owl-buttons {
      div.owl-prev {
        left: -42px;
        position: absolute;
      }
      div.owl-next {
        right: -42px;
        position: absolute;
      }
    }
  }
}
#team-carousel {
  .owl-pagination {
    text-align: center;
    margin-top: 10px;
  }
}
.owl-theme {
  .owl-buttons {
    div {
      width: 40px;
      height: 40px;
      display: block !important;
      background: #5166d8 !important;
      text-align: center;
      display: inline-block;
      opacity: 1 !important;
      border-radius: 0 !important;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18),0 2px 5px 0 rgba(0,0,0,0.15);
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      i {
        color: #fff;
        font-size: 16px;
        line-height: 40px;
      }
    }
  }
}
.touch-slider {
  .owl-controls {
    .owl-buttons {
      div {
        i {
          color: #333;
          display: block;
          &:hover {
            color: #fff !important;
          }
        }
      }
    }
  }
}
.portfolio-details-section {
  .portfolio-details-iamge {
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 40px 0px 25px;
      text-transform: uppercase;
    }
  }
  .portfolio-details {
    h2 {
      font-weight: 500;
      margin-top: 30px;
      text-transform: capitalize;
    }
    p {
      font-size: 15px;
      line-height: 30px;
    }
    .portfolio-category {
      a {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
    .portfolio-meta {
      li {
        margin: 15px 0;
        span {
          display: inline-block;
          width: 130px;
          letter-spacing: 1px;
          color: #202020;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
        }
        i {
          font-size: 18px;
          margin-right: 5px;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
.Material-error-section {
  h1 {
    font-size: 10em;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  h2 {
    font-size: 3em;
    font-weight: 500;
    color: #999999;
  }
}
@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 0px 15px;
    top: 15px;
    .ripple-container {
      display: none;
    }
  }
  .top-nav-collapse {
    .navbar-brand {
      top: 15px;
    }
  }
  #wpb-mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav {
    .active {
      a {
        background: #2196F3;
        color: #fff;
      }
      color: #2196F3;
    }
    a {
      &:hover {
        color: #2196F3;
      }
    }
    .dropdown {
      li {
        a.active {
          background: #2196F3;
          color: #fff;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main {
    li {
      a.nav-link {
        padding-top: 18px;
      }
    }
  }
}
