/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
/* Add a black background color to the top navigation */
/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/


:host {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.controls {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.md-background {
  background-color: #3f0033;
}

.gx-background {
  background-color: #039;
}

.text-p {
  color: #fff;
}

.text-s {
  color: #fff;
}

a text {
  color: white;
}

.material-header {
  background: #3f0033;
}
.material-header .dropdown-item:hover, .material-header .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #314300;
}

.material-list-item {
  background-color: #3f0033;
  text-align: justify-all;
}

.custom-width[persistent], .custom-width[permanent] {
  width: 38%;
}
.custom-width[persistent]:not([end]) ~ material-content,
.custom-width[persistent]:not([end]) ~ .material-content, .custom-width[permanent]:not([end]) ~ material-content,
.custom-width[permanent]:not([end]) ~ .material-content {
  margin-left: 38%;
}
.custom-width[persistent][end] ~ material-content,
.custom-width[persistent][end] ~ .material-content, .custom-width[permanent][end] ~ material-content,
.custom-width[permanent][end] ~ .material-content {
  margin-right: 38%;
}
.custom-width[persistent].mat-drawer-collapsed:not([end]) {
  transform: translateX(-100%);
}
.custom-width[persistent].mat-drawer-collapsed:not([end]) ~ material-content,
.custom-width[persistent].mat-drawer-collapsed:not([end]) ~ .material-content {
  margin-left: 0;
}
.custom-width[persistent].mat-drawer-collapsed[end] {
  transform: translateX(100%);
}
.custom-width[persistent].mat-drawer-collapsed[end] ~ material-content,
.custom-width[persistent].mat-drawer-collapsed[end] ~ .material-content {
  margin-right: 0;
}

.material-drawer .dropdown-item:hover, .material-drawer .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #314300;
}

.footer {
  background: #3f0033;
}
.footer .text-p {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .rm-small-screen {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .rm-standard-screen {
    display: none;
  }
}

.gx-not-login {
  display: none;
}

.footer-contact-widget p {
  color: #fff;
  line-height: 24px;
  padding: 5px 0;
}
.footer-contact-widget p span {
  font-weight: 700;
}
.footer-contact-widget ul {
  margin: 20px 0;
  padding: 0;
}
.footer-contact-widget ul li {
  float: left;
  list-style: none;
}
.footer-contact-widget ul li a .mdi {
  color: #fff;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  display: block;
  background: #FFF;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
  transtion: all 0.3s ease-in-out;
}
.footer-contact-widget ul li a .mdi:hover {
  transition: all 0.3s ease-in-out;
}
.footer-contact-widget ul li a .mdi-facebook {
  transition: all 0.3s ease-in-out;
  background: #3B5998;
}
.footer-contact-widget ul li a .mdi-facebook:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.footer-contact-widget ul li a .mdi-twitter {
  background: #1DA1F2;
}
.footer-contact-widget ul li a .mdi-twitter:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.footer-contact-widget ul li a .mdi-dribbble {
  background: #EA4C89;
}
.footer-contact-widget ul li a .mdi-dribbble:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.footer-contact-widget ul li a .mdi-github-circle {
  background: #333;
}
.footer-contact-widget ul li a .mdi-github-circle:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.footer-contact-widget ul li a .mdi-linkedin {
  background: #0177B5;
}
.footer-contact-widget ul li a .mdi-linkedin:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.footer-copyright {
  line-height: 45px;
  background: #232323;
  color: #F3F3F3;
}
.footer-copyright p {
  margin: 22px 0;
}
.footer-copyright .footer-links ul {
  padding-left: 0;
  float: right;
  margin: 10px 0;
}
.footer-copyright .footer-links ul li {
  list-style: none;
  float: left;
}
.footer-copyright .footer-links ul li a {
  color: #999;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}
.footer-copyright .footer-links ul li a .fa {
  padding-right: 4px;
}
.footer-copyright .footer-links ul li a:hover {
  color: #fff;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
