/*
* Legion Market v
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/

//@import "package:gcx_insp_scss/src/scss/";

//package:gcx_insp_scss/src/dark/scss/
// Preset Color Styles
@import "package:gcx_insp_scss/src/dark/scss/colors/presets";

// Global Styles
@import "package:gcx_insp_scss/src/dark/scss/global";

// Navbar
@import "package:gcx_insp_scss/src/dark/scss/navbar";

// Table
@import "package:gcx_insp_scss/src/dark/scss/table";

// Deshboard
@import 'package:gcx_insp_scss/src/dark/scss/dashboard';

// Modals
@import 'package:gcx_insp_scss/src/dark/scss/modals';

// Button 
@import "package:gcx_insp_scss/src/dark/scss/button";

// Progress 
@import "package:gcx_insp_scss/src/dark/scss/progress";

// Chat
@import "package:gcx_insp_scss/src/dark/scss/chat";

// Email
@import "package:gcx_insp_scss/src/dark/scss/email";

// Tabs 
@import "package:gcx_insp_scss/src/dark/scss/tabs";

// FAQ 
@import "package:gcx_insp_scss/src/dark/scss/faq";

// Profile
@import "package:gcx_insp_scss/src/dark/scss/profile";

// Contact Area
@import "package:gcx_insp_scss/src/dark/scss/contact";

// footer
@import "package:gcx_insp_scss/src/dark/scss/footer";



