/*
* Legion Market v
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/


/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .display-1{
    font-size: 70px;
  }
  .display-2{
    font-size: 60px;
  }
  .display-3{
    font-size: 50px;
  }
  .display-4{
    font-size: 40px;
  }
  .nav-pills > li > a{
    padding: 5px 4px;
  }
  .nav-tabs > li > a{
    padding: 5px 7px;
  }
  .info-box{
    padding: 10px;
    .icon-box{
      font-size: 18px;
    }
    .info-box-content{
      margin-left: 30px;
      .number{
        font-size: 18px;
      }
      .info-text{
        font-size: 14px;
      }
    }
  }
  .page-container{
    padding-left: 0px;
  }
  .side-nav {
    left: -250px;
  }
  .side-nav-expand .side-nav {
    left: 0;
  }
  .header .header-container .nav-left > li > a.sidenav-fold-toggler,
  .header .header-container .nav-right > li > a.sidenav-fold-toggler {
    display: none;
  }
  .header .header-container .nav-left > li > a.sidenav-expand-toggler,
  .header .header-container .nav-right > li > a.sidenav-expand-toggler {
    display: block;
  }
  .table-lg > tbody > tr > td, .table-lg > tbody > tr > th, .table-lg > tfoot > tr > td,
  .table-lg > tfoot > tr > th, .table-lg > thead > tr > td, .table-lg > thead > tr > th{
    padding: 7px;
  }
  .widget-chart{
    display: none;
  }
}
/* tablets */
@media only screen and (max-width: 992px) {
  .side-nav {
    left: -250px;
  }
  .side-nav-expand .side-nav {
    left: 0;
  }
  .header .header-container .nav-left > li > a.sidenav-fold-toggler,
  .header .header-container .nav-right > li > a.sidenav-fold-toggler {
    display: none;
  }
  .header .header-container .nav-left > li > a.sidenav-expand-toggler,
  .header .header-container .nav-right > li > a.sidenav-expand-toggler {
    display: block;
  }
  .header .header-container .nav-logo{
    width: 0px;
    padding: 0px;
    b{
      display: none;
    }
    .logo{
      display: none;
    }
  }
  .page-container{
    padding-left: 0px;
  }
  .box-title{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .search-box{
    display: none;
  }
  .side-nav {
    left: -250px;
  }
  .side-nav-expand .side-nav {
    left: 0;
  }
  .breadcrumb-wrapper{
    .float-right{
      float: left!important;
    }
  }
  .page-container .main-content{
    padding: calc(50px + 35px) 0px 15px 0px;
  }
  .table-overflow .title{
    line-height: 22px;
  }
  #calendar{
    margin-top: 20px;
  }
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .card-group .card p{
    font-size: 13px;
  }
  .card-group .card .counter{
    font-size: 18px;
  }
  .stretch-card .card-body{
    padding: 15px;
  }
  .stretch-card .card-body .sales-info h3{
    font-size: 16px;
  }
  .btn-toolbar{
    margin-top: 20px;
  }
  .error-container{
    width: 60%;
  }
  .table td, .table th{
    padding: 4px!important;
  }
  .mail-content{
    a{
      font-size: 13px;
    }
  }
  #calendar{
    margin-top: 20px;
  }
  .display-1{
    font-size: 70px;
  }
  .display-2{
    font-size: 60px;
  }
  .display-3{
    font-size: 50px;
  }
  .display-4{
    font-size: 40px;
  }
  .table-overflow{
    padding: 15px;
  }
}
/* mobile or only mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .dropdown.dropdown-animated.scale-left .dropdown-menu{
    left: -150px !important;
  }
  .card-title{
    font-size: 14px;
  }
  .coming-event .text .text-link{
    font-size: 14px;
  }
  .chat-main-box .chat-left-aside{
    width: 100%;
  }
  .chat-main-box .chat-right-aside{
    width: calc(100% - 0px);
  }
  .timeline-view{
    margin-top: 20px;
  }
  .faq .card-header h5{
    font-size: 12px;
  }
  .error-container{
    width: 100%;
  }
  .error-container .error-number{
    font-size: 80px;
  }
  .error-container h2{
    font-size: 18px;
  }
  .btn-toolbar{
    margin-top: 20px;
    .btn{
      padding: 7px 8px;
    }
  }
  .table td, .table th{
    padding: 5px!important;
  }
  .mail-content{
    a{
      font-size: 13px;
    }
  }
  #calendar{
    margin-top: 20px;
  }
  .fc-toolbar .fc-center{
    margin-top: 15px;
  }
  .fc-today-button{
    display: none;
  }
  #accordion h5{
    font-size: 14px;
  }
  .form-horizontal{
    a{
      font-size: 11px;
    }
  }
  .box-title{
    margin-top: 20px;
  }
  .nav-pills > li > a{
    padding: 5px 4px;
  }
  .nav-tabs > li > a{
    padding: 5px 7px;
  }
  .display-1{
    font-size: 50px;
  }
  .display-2{
    font-size: 40px;
  }
  .display-3{
    font-size: 30px;
  }
  .display-4{
    font-size: 20px;
  }
  .properties{
    .btn{
      display: none;
    }
  }
}


